.graphic {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  margin: $spacingXXLarge auto;

  &--kokeboka {
    max-width: 750px;
  }

  &--kokebokapen {
    display: none;
    @media screen and (min-width: $tabletWidth) {
      max-width: 300px;
      display: block;
    }
  }
}
