.icon {
  width: 1em;
  min-width: 1em;
  max-height: 1em;
  cursor: pointer;

  &--in-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    //margin-left: -$spacingSmall;
    &-left {
      left: $spacingLarge;
    }
  }

  &--blue {
    & g,
    & circle,
    & path {
      fill: $blue;
      stroke: $blue;
    }
  }

  &--shopping-list,
  &--cooks,
  &--favorites {
    max-width: 1.5em;
    height: 23px;
    margin-right: $spacingLarge;
    cursor: pointer;
    position: relative;
  }
}

.icon__link {
  position: relative;
  display: inline-block;
  &:hover {
    margin: 0px;
  }
  .icon__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: $orange;
    position: absolute;
    bottom: 0px;
    right: $spacingMedium;
    font-size: $fontSizeXSmall;
    color: $cream;
  }
}
