.icon {
  width: 1em;

  &--in-button {
    margin-left: -$spacingSmall;
  }

  &--blue {
    & g {
      fill: $blue;
    }
  }

  &--shopping-list,
  &--favorites {
    max-width: 1.5em;
    height: 23px;
    margin-right: $spacingLarge;
    cursor: pointer;
    position: relative;
  }
}

.shopping-list__link {
  position: relative;
  display: inline-block;
  .icon__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: $orange;
    position: absolute;
    bottom: 0px;
    right: $spacingMedium;
    font-size: $fontSizeXSmall;
    color: $cream;
  }
}
