.illustration {
  display: block;
  width: 100%;
  height: auto;
  position: relative;

  &--kokeboka {
    width: 100%;
    margin: 0 auto;
    padding-bottom: $spacingXXLarge;
  }

  &--kokebokapen {
    display: none;
    margin: $spacingXXLarge;
    @media screen and (min-width: $tabletWidth) {
      max-width: 300px;
      display: block;
    }
  }
  &--sign-up-cookbook {
    display: none;

    @media screen and (min-width: $tabletWidth) {
      max-width: 250px;
      display: block;
    }
  }

  &--food-clouds {
    max-height: 130px;
    margin: $spacingXXLarge auto;
    padding-bottom: $spacingLarge;
  }
  &--clouds {
    max-height: 80px;
    margin: $spacingXXLarge auto;
    padding: $spacingXXLarge 0px;
  }

  &--cracked-eggs {
    max-width: 200px;
    margin: $spacingMedium auto;
  }

  &--loading-book {
    max-width: 220px;
  }
  &--guy-in-market {
    max-width: 350px;
    @media screen and (min-width: $tabletWidth) {
      max-width: 450px;
    }
  }
}
