.illustration {
  display: block;
  width: 100%;
  height: auto;
  position: relative;

  &--kokeboka {
    max-width: 750px;
    margin: $spacingXXLarge auto;
  }

  &--kokebokapen {
    display: none;
    margin: $spacingXXLarge;
    @media screen and (min-width: $tabletWidth) {
      max-width: 300px;
      display: block;
    }
  }

  &--food-clouds {
    max-height: 200px;
    margin: $spacingXXLarge auto;
  }
  &--clouds {
    max-height: 80px;
    margin: $spacingXXLarge auto;
  }
}
