html {
  font-size: $fontSizeMediumMobile;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeMedium;
  }
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: $bodyFont;
  background-color: $cream;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0px;
  min-height: 100vh;
}

.color {
  &--blue {
    color: $blue;
  }
}

.font-size {
  &--medium {
    font-size: $fontSizeMedium;
  }
  &--large {
    font-size: $fontSizeLarge;
  }
}

.text-align {
  &--center {
    text-align: center;
  }
}
