html {
  font-size: $fontSizeMediumMobile;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeMedium;
  }
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: $bodyFont;
  background-color: $lightOrange;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0px;
  min-height: 100vh;
  color: $richBlack;
}
#__nuxt {
  background-color: $cream;
}

.color {
  &--blue {
    color: $blue;
  }
  &--green {
    color: $green;
  }
  &--orange {
    color: $orange;
  }
}

.link {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &--orange-underline {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid $orange;
  }
}

.font-size {
  &--medium {
    font-size: $fontSizeMedium;
  }
  &--large {
    font-size: $fontSizeLarge;
  }
}

.text-align {
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}

.position-relative {
  position: relative;
}
