.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px $spacingMedium;
  border-radius: $spacingSmall;
  border: none;
  box-sizing: border-box;
  background-color: $blue;
  color: $white;
  font-size: $fontSizeMedium;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $green;
    color: $blue;
    text-decoration: none;
  }
  &--block {
    display: block;
  }

  &--round {
    border-radius: $spacingXLarge;
  }

  &--orange {
    background-color: $orange;
    color: $blue;
    &:hover {
      font-weight: bold;
    }
  }

  &--green {
    background-color: $green;
    color: $blue;

    &:hover {
      font-weight: bold;
    }
  }

  &--green-border {
    background-color: transparent;
    border: 2px solid $green;
    color: $black;

    &:hover {
      background-color: $green;
      color: $blue;
    }

    &-dark-bg {
      color: $green;
    }
  }

  &--red-border {
    background-color: transparent;
    border: 2px solid $pink;
    color: $pink;

    &:hover {
      background-color: $pink;
      color: $cream;
    }

    &-dark-bg {
      color: $cream;
    }
  }

  &--transparent {
    width: auto;
    border: none;
    background-color: transparent;
    color: $blue;
    text-align: left;
    font-family: $bodyFont;
    padding: 0px !important;
    text-decoration: none;
    border-bottom: 1px solid $green;
    border-radius: 0px;

    &:hover {
      background-color: transparent;
      color: $blue;
      border-bottom: 1px solid $blue;
    }

    &-red {
      color: $pink;

      &:hover {
        color: $pink;
      }
    }
  }
  &--xsmall {
    height: 33px;
    width: max-content;
    padding: 0px $spacingMedium;
    font-size: $fontSizeSmall;
    font-family: $bodyFont;
  }
  &--small {
    height: 35px;
    width: max-content;
    padding: 0px $spacingXLarge;
    font-size: $fontSizeSmall;
    font-family: $bodyFont;
  }

  &--large {
    height: 48px;
    width: max-content;
    padding: 0px $spacingLarge;
    padding-bottom: $spacingXSmall;
  }

  &--mobile-expand {
    width: 100%;
    @media screen and (min-width: $mobileWidth) {
      width: inherit;
    }
  }

  &--cancel {
    width: 125px;
    padding: 0px $spacingXLarge;
    background-color: transparent;
    color: $pink;
    font-family: $bodyFont;
    line-height: 1em;
    border-radius: 0px;

    &:hover {
      background-color: transparent;
      color: $orange;
    }

    &-dark-bg {
      color: $orange;

      &:hover {
        background-color: transparent;
        color: $green;
      }
    }
  }
}
