.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px $spacingMedium;
  border-radius: $spacingSmall;
  border: 0px;
  box-sizing: border-box;
  background-color: $blue;
  color: $white;
  font-size: $fontSizeMedium;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $green;
    color: $blue;
    text-decoration: none;
  }
  &--block {
    display: block;
  }

  &--round {
    border-radius: $spacingXLarge;
    &-small {
      font-size: $fontSizeSmall;
      height: $spacingXLarge;
    }
  }

  &--orange {
    background-color: $orange;
    color: $blue;

    &:hover {
      background-color: rgba($orange, 0.8);
    }
  }

  &--green {
    background-color: $green;
    color: $blue;

    &:hover {
      background-color: rgba($green, 0.8);
    }
  }

  &--green-border {
    background-color: transparent;
    border: 2px solid $green;
    color: $black;

    &:hover {
      background-color: rgba($green, 0.1);
      color: $blue;
    }

    &-dark-bg {
      color: $green;
    }
  }

  &--red-border {
    background-color: transparent;
    border: 2px solid $pink;
    color: $pink;

    &:hover {
      background-color: $pink;
      color: $cream;
    }

    &-dark-bg {
      color: $cream;
    }
  }

  &--transparent {
    width: auto;
    border: none;
    background-color: transparent;
    color: $blue;
    text-align: left;
    font-family: $bodyFont;
    padding: 0px !important;
    text-decoration: none;
    border-bottom: 1px solid $green;
    border-radius: 0px;

    &:hover {
      background-color: transparent;
      color: $blue;
      border-bottom: 1px solid $blue;
    }

    &-red {
      color: $pink;

      &:hover {
        color: $pink;
      }
    }
  }

  &--xsmall {
    height: 33px;
    width: max-content;
    padding: 0px $spacingMedium;
    font-size: $fontSizeSmall;
    font-family: $bodyFont;
  }
  &--small {
    height: 35px;
    width: max-content;
    padding: 0px $spacingXLarge;
    font-size: $fontSizeSmall;
    font-family: $bodyFont;
  }

  &--large {
    height: 48px;
    width: max-content;
    padding: 0px $spacingLarge;
  }

  &--mobile-expand {
    width: 100%;
    @media screen and (min-width: $mobileWidth) {
      width: inherit;
    }
  }

  &--cancel {
    width: 125px;
    padding: 0px $spacingXLarge;
    background-color: transparent;
    color: $pink;
    font-family: $bodyFont;
    line-height: 1em;
    border-radius: 0px;

    &:hover {
      background-color: transparent;
      color: $orange;
    }

    &-dark-bg {
      color: $orange;

      &:hover {
        background-color: transparent;
        color: $green;
      }
    }
  }

  &--increment {
    display: inline-block;
    position: relative;
    height: $spacingXLarge;
    width: max-content;
    border: none;
    border-radius: $spacingLarge;
    padding: 0px $spacingLarge 0px $spacingXLarge;
    font-size: $fontSizeSmall;
    color: $blue;
    background-color: $green;
    cursor: pointer;

    &:hover {
      background-color: $blue;
      color: $green;
    }
    &::before {
      content: "+";
      font-weight: bold;
      position: relative;
      margin-left: -$spacingLargeMobile;
      top: -1px;
      margin-right: $spacingSmall;
      @media screen and (min-width: $mobileWidth) {
        left: 0px;
      }
    }
  }

  &--checked {
    display: block;
    position: relative;
    color: $orange;
    padding-left: $spacingLarge;
    &::before {
      content: " ";
      display: block;
      width: 7px;
      height: 12px;
      border-bottom: 2px solid $orange;
      border-right: 2px solid $orange;
      transform: rotate(40deg);
      position: absolute;
      left: $spacingXSmall;
      bottom: $spacingSmall;
    }
  }
  &--dynamic {
    width: max-content;
    padding: 0px;
  }
}
