.facebook-btn {
  display: inline-flex;
  align-items: center;
  padding: 0px;
  margin-bottom: $spacingSmall;

  height: 46px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  background-color: #4267b2;
  cursor: pointer;

  &__logo {
    width: 25px;
    height: 25px;
    padding: 0px 10px;
  }

  &__text {
    color: #fff;
    margin: 0px auto;
    font-family: "Roboto";
  }
}
