h1,
h2,
h3,
h4 {
  margin-top: 0px;
}
h1.article-heading {
  margin-top: $spacingXXLarge;
}
h2.article-heading {
  margin-top: $spacingXXLarge;
}
h3.article-heading {
  margin-top: $spacingXLarge;
}
h4.article-heading {
  margin-top: $spacingLarge;
}

h1 {
  font-family: $headingFont;
  font-size: $fontSizeXXLargeMobile;
  //margin-top: $spacingXXLarge;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeXXLarge;
  }
}

h2 {
  font-family: $headingFont;
  font-size: $fontSizeXLargeMobile;
  // margin-top: $spacingXXLarge;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeXLarge;
  }
}

h3 {
  font-family: $subHeadingFont;
  font-size: $fontSizeLargeMobile;

  //margin-top: $spacingXLarge;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeLarge;
  }
}

h4 {
  font-size: $fontSizeMediumMobile;
  font-weight: bold;
  //margin-top: $spacingLarge;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeMedium;
  }
}

.heading {
  &--display-font {
    font-family: $displayFont;
  }
  &--heading-font {
    font-family: $headingFont;
  }
  &--sub-heading-font {
    font-family: $subHeadingFont;
  }
  &--blue {
    color: $blue;
  }
}
