h1,
h2 {
  font-family: $headingFont;
}

h1 {
  font-size: $fontSizeXXLargeMobile;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeXXLarge;
  }
}

h2 {
  font-size: $fontSizeXLargeMobile;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeXLarge;
  }
}

h3 {
  font-size: $fontSizeLargeMobile;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeLarge;
  }
}

h4 {
  font-size: $fontSizeMediumMobile;
  @media screen and (min-width: $tabletWidth) {
    font-size: $fontSizeMedium;
  }
}

.heading {
  &--display-font {
    font-family: $displayFont;
  }
}
