input,
textarea {
  font-size: $fontSizeMedium;
  padding: $spacingSmall;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid $green;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border: 2px solid $green;
  }
}
