label {
  font-family: $displayFont;
  font-weight: bold;
  margin: $spacingXLarge $spacingMedium;
}

input,
textarea {
  display: block;
  padding: $spacingMedium 0px $spacingMedium 0px;
  margin-top: $spacingSmall;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $green;
  font-size: $fontSizeMedium;
  color: $white;
  caret-color: $orange;

  &:focus {
    outline: none;
    border-bottom: 2px solid $orange;
  }
  &::placeholder {
    color: $green;
  }
}

input {
}
