.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  text-align: left;

  &--center {
    text-align: center;
  }

  &--tablet-width {
    max-width: $tabletWidth;
  }
}
