.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  text-align: left;

  &--center {
    text-align: center;
  }

  &--full-height {
    height: 100vh;
  }

  &--blue {
    background-color: $blue;
    color: $white;
  }
  &--light-blue {
    background-color: $lightBlue;
  }
  &--orange {
    background-color: $lightOrange;
  }

  &--green {
    background-color: $lightGreen;
  }
}

.initial-info-section {
  position: relative;
  margin-top: -50px;
  padding-top: 80px;
  height: 100vh;
  box-sizing: border-box;
  @media screen and (min-width: $tabletWidth) {
    margin-top: -60px;
    padding-top: 100px;
  }
}
