.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  text-align: left;

  &--center {
    text-align: center;
  }

  &--blue {
    background-color: $blue;
    color: $white;
  }
  &--light-blue {
    background-color: rgba($blue, 0.08);
  }
  &--orange {
    background-color: rgba($orange, 0.08);
  }

  &--green {
    background-color: rgba($green, 0.1);
  }
}
