.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--nowrap {
    flex-wrap: nowrap;
  }
  &--justify-left {
    justify-content: flex-start;
  }
  &--align-top {
    align-items: flex-start;
  }
  &--justify-center {
    justify-content: center;
  }
  &--align-center {
    align-items: center;
  }
  &--justify-right {
    justify-content: flex-end;
  }
  &--align-bottom {
    align-items: flex-end;
  }
}
