@use "../settings/variables.settings" as *;

.flex-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: $spacingLargeMobile;
  box-sizing: border-box;

  @media screen and (min-width: $tabletWidth) {
    padding: $spacingLarge;
  }

  &--column {
    flex-direction: column;
  }

  &--tablet-width {
    max-width: $tabletWidth;
  }
}
