.flex-order {
  &--zero {
    order: 0;
  }

  &--one {
    order: 1;
  }

  &--two {
    order: 2;
  }

  &--mobile-zero {
    @media screen and (min-width: $mobileWidth) {
      order: 0;
    }
  }
  &--tablet-one {
    @media screen and (min-width: $tabletWidth) {
      order: 1;
    }
  }

  &--desktop-one {
    @media screen and (min-width: $desktopWidth) {
      order: 1;
    }
  }

  &--tablet-two {
    @media screen and (min-width: $tabletWidth) {
      order: 2;
    }
  }

  &--desktop-two {
    @media screen and (min-width: $desktopWidth) {
      order: 2;
    }
  }
}
