.margin {
  &--auto {
    margin: auto;
  }
  &--none {
    margin: 0px;
  }
  &--small {
    margin: $spacingSmallMobile;
    @media screen and (min-width: $tabletWidth) {
      margin: $spacingSmallMobile;
    }
  }
  &--medium {
    margin: $spacingMediumMobile;
    @media screen and (min-width: $tabletWidth) {
      margin: $spacingMedium;
    }
  }
  &--large {
    margin: $spacingLargeMobile;
    @media screen and (min-width: $tabletWidth) {
      margin: $spacingLarge;
    }
  }
  &--xlarge {
    margin: $spacingXLargeMobile;
    @media screen and (min-width: $tabletWidth) {
      margin: $spacingXLarge;
    }
  }

  &-top {
    &--none {
      margin-top: 0px;

      @media screen and (min-width: $tabletWidth) {
        margin-top: 0px;
      }
    }
    &--small {
      margin-top: $spacingSmallMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingSmall;
      }
    }
    &--medium {
      margin-top: $spacingMediumMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingMedium;
      }
    }
    &--large {
      margin-top: $spacingLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingLarge;
      }
    }
    &--xlarge {
      margin-top: $spacingXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingXLarge;
      }
    }
    &--xxlarge {
      margin-top: $spacingXXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingXXLarge;
      }
    }
  }

  &-bottom {
    &--small {
      margin-bottom: $spacingSmallMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-bottom: $spacingSmall;
      }
    }
    &--medium {
      margin-bottom: $spacingMediumMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-bottom: $spacingMedium;
      }
    }
    &--large {
      margin-bottom: $spacingLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-bottom: $spacingLarge;
      }
    }
    &--xlarge {
      margin-bottom: $spacingXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-bottom: $spacingXLarge;
      }
    }
    &--xxlarge {
      margin-bottom: $spacingXXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-bottom: $spacingXXLarge;
      }
    }
  }

  &-left {
    &--xsmall {
      margin-left: $spacingSmallMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-left: $spacingXSmall;
      }
    }
    &--small {
      margin-left: $spacingSmallMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-left: $spacingSmall;
      }
    }
    &--medium {
      margin-left: $spacingMediumMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-left: $spacingMedium;
      }
    }
    &--large {
      margin-left: $spacingLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-left: $spacingLarge;
      }
    }
    &--xlarge {
      margin-left: $spacingXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-left: $spacingXLarge;
      }
    }
    &--xxlarge {
      margin-left: $spacingXXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-left: $spacingXXLarge;
      }
    }
  }

  &-right {
    &--small {
      margin-right: $spacingSmallMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-right: $spacingSmall;
      }
    }
    &--medium {
      margin-right: $spacingMediumMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-right: $spacingMedium;
      }
    }
    &--large {
      margin-right: $spacingLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-right: $spacingLarge;
      }
    }

    &--xlarge {
      margin-right: $spacingXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-right: $spacingXLarge;
      }
    }
  }

  &-horizontal {
    &--small {
      margin-right: $spacingSmallMobile;
      margin-left: $spacingSmallMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-right: $spacingSmall;
        margin-left: $spacingSmall;
      }
    }
    &--medium {
      margin-right: $spacingMediumMobile;
      margin-left: $spacingMediumMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-right: $spacingMedium;
        margin-left: $spacingMedium;
      }
    }
    &--large {
      margin-right: $spacingLargeMobile;
      margin-left: $spacingLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-right: $spacingLarge;
        margin-left: $spacingLarge;
      }
    }
    &--xlarge {
      margin-right: $spacingXLargeMobile;
      margin-left: $spacingXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-right: $spacingXLarge;
        margin-left: $spacingXLarge;
      }
    }
  }
  &-vertical {
    &--small {
      margin-top: $spacingSmallMobile;
      margin-bottom: $spacingSmallMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingSmall;
        margin-bottom: $spacingSmall;
      }
    }
    &--medium {
      margin-top: $spacingMediumMobile;
      margin-bottom: $spacingMediumMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingMedium;
        margin-bottom: $spacingMedium;
      }
    }
    &--large {
      margin-top: $spacingLargeMobile;
      margin-bottom: $spacingLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingLarge;
        margin-bottom: $spacingLarge;
      }
    }
    &--xlarge {
      margin-top: $spacingXLargeMobile;
      margin-bottom: $spacingXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingXLarge;
        margin-bottom: $spacingXLarge;
      }
    }
    &--xxlarge {
      margin-top: $spacingXXLargeMobile;
      margin-bottom: $spacingXXLargeMobile;

      @media screen and (min-width: $tabletWidth) {
        margin-top: $spacingXXLarge;
        margin-bottom: $spacingXXLarge;
      }
    }
  }
}
