.padding {
  &--none {
    padding: 0px;
  }

  &-sm {
    padding: $spacingSmallMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingSmall;
    }
  }

  &--medium {
    padding: $spacingMediumMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingMedium;
    }
  }

  &--large {
    padding: $spacingLargeMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingLarge;
    }
  }

  &--xlarge {
    padding: $spacingXLargeMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingXLarge;
    }
  }

  &-top {
    &-sm {
      padding-top: $spacingSmallMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingSmall;
      }
    }
    &--medium {
      padding-top: $spacingMediumMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingMedium;
      }
    }
    &--large {
      padding-top: $spacingLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingLarge;
      }
    }
    &--xlarge {
      padding-top: $spacingXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXLarge;
      }
    }

    &--xxlarge {
      padding-top: $spacingXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXXLarge;
      }
    }
    &--xxxlarge {
      padding-top: $spacingXXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXXXLarge;
      }
    }
  }
  &-bottom {
    &-sm {
      padding-bottom: $spacingSmallMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingSmall;
      }
    }
    &--medium {
      padding-bottom: $spacingMediumMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingMedium;
      }
    }
    &--large {
      padding-bottom: $spacingLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingLarge;
      }
    }
    &--xlarge {
      padding-bottom: $spacingXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingXLarge;
      }
    }

    &--xxlarge {
      padding-bottom: $spacingXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingXXLarge;
      }
    }
    &--xxxlarge {
      padding-bottom: $spacingXXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingXXXLarge;
      }
    }
  }

  &-horizontal {
    &-sm {
      padding-left: $spacingSmallMobile;
      padding-right: $spacingSmallMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-left: $spacingSmall;
        padding-right: $spacingSmall;
      }
    }
    &--medium {
      padding-left: $spacingMediumMobile;
      padding-right: $spacingMediumMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-left: $spacingMedium;
        padding-right: $spacingMedium;
      }
    }
    &--large {
      padding-left: $spacingLargeMobile;
      padding-right: $spacingLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-left: $spacingLarge;
        padding-right: $spacingLarge;
      }
    }
    &--xlarge {
      padding-left: $spacingXLargeMobile;
      padding-right: $spacingXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-left: $spacingXLarge;
        padding-right: $spacingXLarge;
      }
    }
  }
  &-vertical {
    &-sm {
      padding-top: $spacingSmallMobile;
      padding-bottom: $spacingSmallMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingSmall;
        padding-bottom: $spacingSmall;
      }
    }
    &--medium {
      padding-top: $spacingMediumMobile;
      padding-bottom: $spacingMediumMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingMedium;
        padding-bottom: $spacingMedium;
      }
    }
    &--large {
      padding-top: $spacingLargeMobile;
      padding-bottom: $spacingLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingLarge;
        padding-bottom: $spacingLarge;
      }
    }
    &--xlarge {
      padding-top: $spacingXLargeMobile;
      padding-bottom: $spacingXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXLarge;
        padding-bottom: $spacingXLarge;
      }
    }

    &--xxlarge {
      padding-top: $spacingXXLargeMobile;
      padding-bottom: $spacingXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXXLarge;
        padding-bottom: $spacingXXLarge;
      }
    }

    &--xxxlarge {
      padding-top: $spacingXXXLargeMobile;
      padding-bottom: $spacingXXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXXXLarge;
        padding-bottom: $spacingXXXLarge;
      }
    }
  }
}
