.padding {
  &--small {
    padding: $spacingSmallMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingSmall;
    }
  }

  &--medium {
    padding: $spacingMediumMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingMedium;
    }
  }

  &--large {
    padding: $spacingLargeMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingLarge;
    }
  }

  &--xlarge {
    padding: $spacingXLargeMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingXLarge;
    }
  }
}
