.full-width {
  width: 100%;
}
.desktop-width {
  width: 100%;
  max-width: $desktopWidth;
}
.tablet-width {
  width: 100%;
  max-width: $tabletWidth;
}

.mobile-width {
  width: 100%;
  max-width: $mobileWidth;
}

.max-width--300-600 {
  max-width: 300px;
  @media screen and (min-width: $desktopWidth) {
    max-width: 600px;
  }
}
