@font-face {
  font-family: "Be Vietnam";
  src: url("../../assets/fonts/BeVietnam-Regular.ttf");
}

@font-face {
  font-family: "Delius";
  src: url("../../assets/fonts/Delius-Regular.ttf");
}

@font-face {
  font-family: "Delius Swash Caps";
  src: url("../../assets/fonts/DeliusSwashCaps-Regular.ttf");
}
