@font-face {
  font-family: "Be Vietnam Regular";
  src: url("../../assets/fonts/BeVietnam-Regular.ttf");
}

@font-face {
  font-family: "Be Vietnam Light";
  src: url("../../assets/fonts/BeVietnam-Light.ttf");
}

@font-face {
  font-family: "Be Vietnam Thin";
  src: url("../../assets/fonts/BeVietnam-Thin.ttf");
}

@font-face {
  font-family: "Be Vietnam Extra Bold";
  src: url("../../assets/fonts/BeVietnam-ExtraBold.ttf");
}

@font-face {
  font-family: "Delius";
  src: url("../../assets/fonts/Delius-Regular.ttf");
}

@font-face {
  font-family: "Delius Swash Caps";
  src: url("../../assets/fonts/DeliusSwashCaps-Regular.ttf");
}

// Roboto for fb-button
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}
