$orange: #ff7300;
$green: #00e78f;
$blue: #09466e;
$pink: #c10f65;
$gray: #595959;
$black: #000;
$white: #fff;
$cream: #fffdf8;

$bodyFont: "Be Vietnam Regular", sans-serif;
$headingFont: "Be Vietnam Thin", serif;
$subHeadingFont: "Be Vietnam Light", sans-serif;
$displayFont: "Delius Swash Caps", serif;

$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 22px;
$fontSizeXLarge: 28px;
$fontSizeXXLarge: 35px;

$fontSizeSmallMobile: 14px;
$fontSizeMediumMobile: 16px;
$fontSizeLargeMobile: 18px;
$fontSizeXLargeMobile: 22px;
$fontSizeXXLargeMobile: 26px;

$spacingXSmall: 3px;
$spacingSmall: 5px;
$spacingMedium: 10px;
$spacingLarge: 20px;
$spacingXLarge: 30px;
$spacingXXLarge: 40px;

$spacingSmallMobile: 3px;
$spacingMediumMobile: 7px;
$spacingLargeMobile: 16px;
$spacingXLargeMobile: 24px;
$spacingXXLargeMobile: 36px;

$mobileWidth: 600px;
$tabletWidth: 900px;
$desktopWidth: 1200px;
