$orange: #ff7300;
$green: #00e78f;
$blue: #09466e;
$pink: #c10f65;
$gray: #595959;

$bodyFont: "Be Vietnam", sans-serif;
$displayFont: "Delius Swash Caps", cursive;

$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 25px;
$fontSizeXLarge: 35px;

$spacingSmall: 5px;
$spacingMedium: 10px;
$spacingLarge: 20px;
$spacingXLarge: 30px;
