@use "../settings/variables.settings" as *;

.accordion {
  &_tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: $spacingMedium;
    border-bottom: 1px dotted $green;
    background-color: rgba($green, 0.08);

    border-radius: $spacingSmall $spacingSmall 0px 0px;
    &:hover {
      background-color: rgba($green, 0.2);

      cursor: pointer;
    }
  }
}
