@use "../settings/variables.settings" as *;

.cooks {

  &_search {
    text-align: left;
    max-width: 250px;
    width: 100%;
    position: relative;

    & label {
      position: relative;
    }

    & input {
      padding: $spacingSmall;
      padding-left: $spacingXXLarge;
      font-size: $fontSizeLarge;
      width: 100%;
    }
  }

  &_user-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -2px;
    left: $spacingSmall;
  }

  &_result-list {
    max-width: 350px;
    width: inherit;
    background-color: $cream;
    list-style: none;
    text-align: left;
    position: absolute;
    top: $spacingXXLarge;
    border-radius: $spacingSmall;
    padding: 0px;
    box-shadow: 0px $spacingMedium $spacingMedium rgba(0, 0, 0, 0.25);
    z-index: 999;

    @media screen and (min-width: $tabletWidth) {
      top: $spacingXLarge;
    }
  }
  &_user-link {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: $spacingMedium;
    margin: 0px;
    box-sizing: border-box;
    
    &:hover {
      background-color: rgba($green, 0.2);
    }
  }
  &_user-photo {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: $spacingMedium;
    background-color: rgba($blue, 0.5);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
