@use "../settings/variables.settings" as *;

.desktop-menu {
  .account-menu {
    position: relative;
    display: flex;
    align-items: center;

    &_button {
      color: $blue;
      text-decoration: none;
      position: relative;
      margin-right: $spacingLarge;
      padding-right: $spacingLarge;
      cursor: pointer;
      &::after {
        display: block;
        content: "";
        height: 100%;
        border-right: 1px solid $orange;
        position: absolute;
        right: 0px;
        bottom: -2px;
      }
      &:hover {
        margin-bottom: 0px;
        color: $blue;
        text-decoration: none;
        & .dropdown-menu {
          display: block;
        }
      }
    }

  }
}
