@use "../settings/variables.settings" as *;

.kokebokami-login-btn {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 270px;
  padding: 0px $spacingLarge 0px 0px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-family: $bodyFont, sans-serif;
  background-color: rgba($orange, 0.9);
  color: $cream;

  cursor: pointer;
  &_logo {
    width: 30px;
    height: 30px;
    margin: 7px;
    border-radius: 2px;
  }
  &_text {
    margin: 0px auto;
  }
}

.kokebokami-login {
  h3 {
    text-align: center;
  }

  &-form {
    display: block;
    margin: 0 auto;
    text-align: center;

    & fieldset {
      max-width: 300px;
      margin: 0 auto;
    }
    & label {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: $spacingMedium;
      color: $cream;
    }

    & input {
      width: 100%;
      box-sizing: border-box;
      margin-top: $spacingSmall;
      padding: $spacingSmall;
      border: 2px solid $green;
      border-radius: $spacingSmall;
      background-color: transparent;
      font-size: $fontSizeMedium;
      caret-color: $green;
      color: $green;

      &:focus {
        outline: none;
        border: 2px solid $green;
      }
    }
  }

  .link {
    display: inline-block;
    border-bottom: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-signup {
    color: $cream;

    & a {
      color: $green;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
