.radio-pills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &_pill {
    display: block;
    min-width: max-content;
    max-width: max-content;
    padding: $spacingSmall $spacingMedium;
    border: 2px solid $blue;
    border-radius: $spacingXLarge;
    color: $blue;
    font-size: $fontSizeSmall;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: $spacingMedium;


    @media screen and (min-width: $tabletWidth) {
      padding: $spacingXSmall $spacingMedium;
    }
    &:not(:last-child) {
      margin-right: $spacingMedium;
    }

    &.selected, &:hover {
      background-color: $blue;
      color: $cream;
    }

    input {
      position: absolute;
      opacity: 0;
    }
  }
}
