.recipe-preview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
  max-width: 100%;
  margin: $spacingSmall;
  background-color: $lightOrange;
  align-items: center;
  border-radius: $spacingMedium;
  position: relative;
  cursor: pointer;
  color: $blue;
  text-decoration: none;
  transition: all 0.3s;
  text-align: left;

  .favorite-icon {
    display: block;
    position: absolute;
    top: $spacingMedium + 5px;
    right: $spacingLarge;
    width: 25px;
    height: 25px;
    padding: 0px;
  }

  @media screen and (min-width: $mobileWidth) {
    flex-basis: calc(50% - 12px);
    width: calc(50% - 12px);
    flex-grow: 0;

  }
  @media screen and (min-width: $tabletWidth) {
    flex-basis: calc(33% - 8px);
    width: calc(33% - 8px);
  }

  &:hover {
    text-decoration: none;
    @media screen and (min-width: $tabletWidth) {
      background-color: darken($lightOrange, 2%);
    }
    a {
      text-decoration: none;
    }
  }


  &--left-aligned {
    text-align: left;
  }

  .rating-wrapper {
    text-align: center;
    padding: $spacingMedium 0px 0px 0px;
    
    svg:focus { 
      outline: none;
    }
  }

  &_title {
    padding-top: $spacingMedium;
    text-transform: capitalize;
  }

  &_description {
    display: block;
    padding-top: 0;
  }
  &_categories {
    display: block;
    padding-top: $spacingMedium;
  }
  &_category {
    display: inline-block;
    background-color: $orange;
    color: $white;
    padding: 1px $spacingMedium;
    margin: $spacingXSmall;
    border-radius: $spacingLarge;
    text-transform: capitalize;
    font-size: $fontSizeSmall;

    &:first-child {
      margin-left: 0px;
    }

    &-note {
      text-align: left;

      & p {
        margin: $spacingXSmall;
        font-size: $fontSizeSmall;
        color: $blue;
      }
    }
  }

  &_image {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: ($spacingMedium - 2px) ($spacingMedium - 2px) 0px 0px;
    background-position: 50%;
    cursor: default;
  }
  svg.recipe-preview_image {
    height: auto;
  }
  &_published-by,
  &_public-note {
    display: block;
    position: absolute;
    top: 180px;
    right: $spacingMedium;
    font-size: $fontSizeSmall;
    color: $blue;
    background-color: rgba($cream, 0.9);
    padding: $spacingSmall;
    border-radius: $spacingMedium;
  }
  &_public-note {
    color: $pink;
  }
}
