@use "../settings/variables.settings" as *;

.recipes-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: $spacingXXLarge;

  &_headline {
    width: 100%;
    text-align: left;
    margin-left: $spacingSmall;
    color: $blue;
  }
}
