@use "sass:color";
@use "../settings/variables.settings" as *;

.recipe-preview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
  max-width: 100%;
  margin: $spacingSmall;
  background-color: $lightOrange;
  align-items: center;
  border-radius: $spacingMedium;
  position: relative;
  cursor: pointer;
  color: $blue;
  text-decoration: none;
  transition: all 0.3s;
  text-align: left;

  @media screen and (min-width: $mobileWidth) {
    flex-basis: calc(50% - 12px);
    width: calc(50% - 12px);
    flex-grow: 0;
  }
  
  @media screen and (min-width: $tabletWidth) {
    flex-basis: calc(33% - 8px);
    width: calc(33% - 8px);
  }

  .favorite-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacingMedium;
    background-color: rgba($cream, 0.5);
    border-radius: $spacingXLarge;

    position: absolute;
    top: $spacingMedium;
    right: $spacingMedium;
    width: 22px;
    height: 22px;

    .icon {
      margin-right: 0;
    }
  }


  &:hover {
    text-decoration: none;
    @media screen and (min-width: $tabletWidth) {
      background-color: color.adjust($lightOrange, $lightness: -2%);
    }
    a {
      text-decoration: none;
    }
  }


  &--left-aligned {
    text-align: left;
  }

  .rating-wrapper {
    svg {
      color: color.adjust($orange, $lightness: 30%);

      &:hover {
        color: $orange;
      }
    }
    svg:focus { 
      outline: none;
    }
  }
  
  &_content {
    width: 100%;
    padding: $spacingLarge;
    box-sizing: border-box;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }
    
  &_title {
    padding-top: $spacingMedium;
    font-size: $fontSizeMedium;
    font-weight: 700;
    color: color.adjust($orange, $lightness: -20%);
    text-transform: capitalize;
  }
  
  &_description {
    display: block;
    padding-top: 0;
  }
  &_categories {
    display: block;
    padding-top: $spacingMedium;
    align-content: flex-end;
    flex-basis: 100%;
  }
  &_category {
    display: inline-block;
    background-color: color.adjust($orange, $lightness: 40%);
    color: color.adjust($orange, $lightness: -20%);
    padding: 1px $spacingMedium;
    margin-right: $spacingSmall;
    margin-bottom: $spacingSmall;
    border-radius: $spacingLarge;
    text-transform: capitalize;
    font-size: $fontSizeSmall;
    justify-self: flex-end;
    
    &-note {
      text-align: left;
      
      & p {
        margin: $spacingXSmall;
        font-size: $fontSizeSmall;
        color: $blue;
      }
    }
  }
    
  &_image {
    width: 100%;
    height: 200px;
    min-height: 200px;
    background-size: cover;
    border-radius: ($spacingMedium - 2px) ($spacingMedium - 2px) 0px 0px;
    background-position: 50%;
    cursor: default;
  }
  svg.recipe-preview_image {
    height: auto;
  }
  &_published-by,
  &_public-note {
    display: block;
    position: absolute;
    top: 187px;
    right: $spacingMedium;
    font-size: $fontSizeXXSmall;
    color: $blue;
    background-color: rgba($cream, 0.9);
    padding: $spacingSmall;
    border-radius: $spacingMedium;
  }
  &_public-note {
    color: $pink;
  }
}
