label.search-field {
  display: inline-flex;
  position: relative;
  top: 0;
  border: none;
  cursor: text;
  border-radius: 0px;
  
  
  &.focus {
    border-bottom: 2px solid $blue;

    input[type=text] {
      width: 180px;
    }
    .search-icon {
      padding: $spacingMedium;
      border-radius: $spacingSmall $spacingSmall 0 0;
      background-color: rgba($blue, 0.03);
      border: none;
    }
  }
  input[type=text] {
    width: 0;
    height: inherit;
    border: none;
    padding: $spacingSmall;
    cursor: text;
    transition: width .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  
  .search-icon {
    height: 20px;
    width: 20px;
    padding: $spacingMedium 0;
    border-radius: $spacingSmall;
    background-color: transparent;
  }
}