label.search-field {
  display: inline-block;
  position: relative;
  top: 0;
  width: 250px;
  border: none;
  border-bottom: 2px solid $blue;
  height: 22px + 2 * $spacingMedium;
  cursor: text;
  border-radius: 0px;

  input[type=text] {
    width: inherit;
    height: inherit;
    position: absolute;
    border: none;
    padding: $spacingMedium;
    cursor: text;
  }

  .search-icon {
    position: absolute;
    right: $spacingMedium;
    top: 50%;
    transform: translateY(-50%);
    height: 22px;
    width: 22px;
  }
}