@use "../settings/variables.settings" as *;

.shopping-list {
  background-color: rgba($orange, 0.05);
  border-radius: $spacingMedium;
  padding: $spacingLarge;
  position: relative;

  &_shared {
    font-size: $fontSizeSmall;
    color: $blue;
  }
  &_cancel-action {
    position: absolute;
    top: $spacingLarge;
    right: $spacingLarge;
  }
  &_title {
    h2 {
      transition: 0.1s;
      &:hover {
        background-color: rgba($orange, 0.3);
        border-radius: $spacingSmall;
      }
    }
    input[type="text"] {
      font-size: $fontSizeXLargeMobile;
      font-family: $headingFont;
      @media screen and (min-width: $tabletWidth) {
        font-size: $fontSizeXLarge;
      }
    }
  }

  &_share-icon {
    width: 10px;
    padding: $spacingMedium;
    border-radius: $spacingMedium;
    border: 1px solid $green;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      background-color: rgba($green, 0.15);
    }
    circle,
    path {
      fill: $richBlack;
      stroke: $richBlack;
    }
  }
  .sub-list {
    padding: 0px;
    flex: 1 1 0;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    @media screen and (min-width: $mobileWidth) {
      margin-right: $spacingLarge;
    }
    &-container {
      width: 90%;
    }

    &_title {
      display: inline-block;
      width: 100%;

      h3 {
        font-family: $headingFont;
        transition: 0.1s;
        &:hover {
          background-color: rgba($orange, 0.3);
          border-radius: $spacingSmall;
        }
      }
      label {
        color: $blue;
      }
      input {
        width: 100%;
        max-width: 250px;
        color: $blue;
        font-size: $fontSizeLargeMobile;
        font-family: $headingFont;

        @media screen and (min-width: $tabletWidth) {
          font-size: $fontSizeLarge;
        }
        &::placeholder {
          color: rgba($blue, 0.7);
          font-size: $fontSizeLargeMobile;
          @media screen and (min-width: $tabletWidth) {
            font-size: $fontSizeLarge;
          }
        }
      }
    }
    &_items {
      min-width: 250px;
      list-style: none;
      padding-left: 0px;
      label {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: max-content;
        max-width: 100%;
        input[type="checkbox"] {
          margin-right: $spacingMedium;
          margin-top: 4px;
        }

        &.complete {
          color: $orange;
          position: relative;
          &::after {
            content: "";
            border-bottom: 1px solid $orange;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
          }
          input[type="checkbox"] {
            border-color: $orange;
            &::after {
              border-color: $orange;
            }
          }
        }
      }
    }
  }
}
