@use "../settings/variables.settings" as *;

.sign-up-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0px auto;
  @media screen and (min-width: $mobileWidth) {
    max-width: $tabletWidth;
  }
}
