.account {
  &__detail {
    display: block;
    position: relative;
    padding: $spacingLarge;
    padding-top: $spacingMedium;
    margin-bottom: $spacingLarge;
    border-left: 2px solid $green;
    font-size: $fontSizeMedium;

    &-title {
      display: flex;
      justify-content: space-between;
      color: $blue;
      padding-right: $spacingLarge;
      font-size: $fontSizeSmall;
    }

    &-value {
      display: block;
      width: 100%;
      margin-bottom: $spacingMedium;
    }
  }
}
