.account {
  &__detail {
    display: inline-block;
    position: relative;
    flex-grow: 1;
    flex-basis: 40%;
    padding: $spacingLarge;
    padding-top: $spacingMedium;
    margin-bottom: $spacingLarge;
    margin-right: $spacingMedium;
    background-color: $lightOrange;
    border-radius: $spacingSmall;
    font-size: $fontSizeMedium;
    transition: all 1s ease-in-out;
    &:hover {
      border-color: $green;
    }

    h4 {
      font-family: $bodyFont;
      font-weight: normal;
    }

    &-picture {
      max-width: 150px;
    }
    &--flex-column {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-title {
      display: flex;
      justify-content: space-between;
      color: $blue;
      padding-right: $spacingLarge;
      font-size: $fontSizeSmall;
    }

    &-value {
      display: block;
      width: 100%;
      margin-bottom: $spacingMedium;
    }

    &-edit {
      display: flex;
      flex-direction: column;
      padding-top: $spacingSmall;

      & textarea,
      input {
        margin-bottom: $spacingMedium;
        width: 100%;
      }
      & textarea {
        height: 100px;
        resize: none;
      }
      & input {
        max-width: 230px;
      }
    }
    &-warning-btn {
      padding-left: 0px;
      width: auto;
    }
  }
  &__recipe-link-icon {
    width: 13px;
    height: 13px;
  }
}
