.add-recipe-form {
  display: block;
  width: 100%;
  text-align: left;

  &__title,
  &__ingredient,
  &__description,
  &__instruction {
    display: block;
    padding: $spacingMediumMobile;
    caret-color: $green;
  }

  &__headline {
    font-family: $bodyFont;
    text-align: left;
    font-size: $fontSizeSmall;
  }

  &__title {
    font-family: $headingFont;
    font-size: $fontSizeXXLargeMobile;
    @media screen and (min-width: $tabletWidth) {
      font-size: $fontSizeXXLarge;
    }
  }
  &__description {
    width: 100%;
    height: 150px;
    resize: none;
    font-size: $fontSizeLargeMobile;
    color: $blue;
    @media screen and (min-width: $tabletWidth) {
      font-size: $fontSizeLarge;
    }
  }

  &__add-input-btn {
    display: inline-block;
    position: relative;
    height: $spacingXXLarge;
    border: none;
    border-radius: $spacingLarge;
    padding: 0px $spacingLarge 0px $spacingXLarge;
    font-size: $fontSizeSmall;
    color: $blue;
    background-color: $green;
    cursor: pointer;

    @media screen and (min-width: $mobileWidth) {
      height: $spacingXLarge;
    }

    &:hover {
      background-color: $blue;
      color: $green;
    }
    &::before {
      content: "+";
      font-weight: bold;
      position: relative;
      margin-left: -$spacingLargeMobile;
      top: -1px;
      margin-right: $spacingSmall;
      @media screen and (min-width: $mobileWidth) {
        left: 0px;
      }
    }
  }
  &__ingredients {
    margin-bottom: $spacingMedium;
  }

  &__ingredient {
    width: 200px;
  }
  &__instructions {
    padding-left: $spacingLarge;

    & label {
      width: 100%;
    }
  }

  &__instruction {
    width: 100%;
    height: 120px;

    resize: none;
  }

  &--url {
    width: 360px;
  }
  &__url {
    width: 100%;
    max-width: 300px;
    height: 40px;
    font-size: $fontSizeLarge;
    border: 2px solid $green;
    border-right: 0px;
    border-radius: $spacingSmall 0px 0px $spacingSmall;
    caret-color: $blue;
    &:focus {
      border: 2px solid $green;
      border-right: 0px;
      border-radius: $spacingSmall 0px 0px $spacingSmall;
    }
  }
  &__url-submit {
    height: 40px;
    width: 70px;
    background-color: $green;
    color: $blue;
    padding: 2px;
    margin-left: -10px;
    border-radius: 0px $spacingSmall $spacingSmall 0px;
    z-index: 2;
    &:hover {
      background-color: $blue;
      padding: 0px;
      border: 2px solid $green;
      border-radius: $spacingSmall;
      color: $green;
      cursor: pointer;
    }
  }
}
