.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 6 * $spacingXLarge;
  padding: 0px $spacingMedium;
  height: 40px;
  border-radius: $spacingSmall;
  border: none;
  box-sizing: border-box;
  background-color: $blue;
  color: $white;
  font-size: $fontSizeMedium;
  font-family: $displayFont;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $green;
    color: $blue;
  }
  &--block {
    display: block;
  }

  &--round {
    border-radius: $spacingXLarge;
  }

  &--orange {
    background-color: $orange;
    color: $blue;
    &:hover {
      font-weight: bold;
    }
  }

  &--green {
    background-color: $green;
    color: $blue;

    &:hover {
      font-weight: bold;
    }
  }

  &--green-border {
    background-color: transparent;
    border: 2px solid $green;
    color: $black;

    &:hover {
      background-color: $green;
      color: $blue;
    }

    &-dark-bg {
      color: $green;
    }
  }

  &--transparent {
    border: none;
    background-color: transparent;
    color: $blue;
    width: auto;
    text-align: left;
    font-family: $bodyFont;

    &:hover {
      background-color: transparent;
      color: $blue;
      text-decoration: underline;
    }
  }
  &--xsmall {
    height: 35px;
    width: auto;
    padding: 0px $spacingMedium;
    font-size: $fontSizeSmall;
    font-family: $bodyFont;
  }
  &--small {
    height: 35px;
    width: auto;
    padding: 0px $spacingXLarge;
    font-size: $fontSizeSmall;
    font-family: $bodyFont;
  }

  &--large {
    height: 48px;
    padding: 0px $spacingLarge;
  }

  &--cancel {
    padding: 0px;
    background-color: transparent;
    color: $pink;
    font-family: $bodyFont;
    line-height: 1em;

    &:hover {
      background-color: transparent;
      color: $orange;
    }

    &-dark-bg {
      color: $orange;

      &:hover {
        background-color: transparent;
        color: $green;
      }
    }
  }
}
