.cookie-consent {
  &-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba($blue, 0.95);
    color: $white;
    padding: $spacingLarge;
    box-sizing: border-box;
    border-top: 1px solid $green;

    & a:hover {
      text-decoration: underline;
    }

    & button,
    & a {
      color: $green;
    }

    & button:hover {
      background-color: $green;
    }
  }

  &_text {
    text-align: left;
    padding: 0px;
    margin: 0px;
  }

  &--accepted {
    display: none;
  }
}
