.following-cooks {
  &__cook {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid $green;
    border-radius: $spacingSmall;
    width: 100%;
    flex-basis: 100%;
    padding: $spacingLarge;

    @media screen and (min-width: $mobileWidth) {
      flex-basis: 50%;
      max-width: 40%;
    }
    @media screen and (min-width: $tabletWidth) {
      max-width: 380px;
    }
    &:hover {
      text-decoration: none;
      background-color: $green;
    }
  }
  &__img {
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: inherit;
    margin: $spacingXSmall;
    background-color: rgba($blue, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
