.following-cooks {
  &_cook {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: $spacingSmall;
    width: 100%;
    flex-basis: 100%;
    padding: $spacingLarge;
    margin: math.div($spacingMedium,2);
    transition: all 0.3s;
    background-color: $lightOrange;

    @media screen and (min-width: $mobileWidth) {
      flex-basis: calc(50% - 54px);
      flex-grow: 0;
    }
    &:hover {
      color: $blue;
      text-decoration: none;
      background-color: darken($lightOrange, 2%);
    }
  }
  &_img {
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: inherit;
    margin: $spacingXSmall;
    background-color: rgba($orange, 0.35);
    background-repeat: no-repeat;
    background-size: cover;

    svg {
      height: 70px;
      path,
      ellipse {
        fill: $orange;
      }
    }
  }
}
