.following-cooks {
  &__cook {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid $green;
    border-radius: $spacingSmall;
    width: 100%;
    flex-basis: 100%;
    padding: $spacingLarge;
    transition: all 0.2s;
    @media screen and (min-width: $mobileWidth) {
      flex-basis: 50%;
      max-width: 40%;
    }
    @media screen and (min-width: $tabletWidth) {
      max-width: 380px;
    }
    &:hover {
      background-color: rgba($green, 0.2);
      color: $blue;
      text-decoration: none;
    }
  }
  &__img {
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: inherit;
    margin: $spacingXSmall;
    background-color: rgba($orange, 0.35);
    background-repeat: no-repeat;
    background-size: cover;

    svg {
      height: 70px;
      path,
      ellipse {
        fill: $orange;
      }
    }
  }
}
