.footer {
  font-size: $fontSizeSmall;
  background-color: $lightOrange;

  &__nav {
    list-style: none;
    padding: 0px;
    max-width: 300px;
    margin: 0px;

    & li {
      margin-bottom: $spacingMedium;

      a {
        color: $blue;
        transition: color 0.5s;
        border-bottom: 0px;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $orange;
          color: $richBlack;
        }
        &.social-media {
          display: inline-flex;
          align-items: center;
          &:hover {
            border-bottom: 0px;
            .social-media__text {
              border-bottom: 1px solid $orange;
            }
          }
        }
      }
    }
  }
}
