.footer {
  border-top: 2px solid $green;
  //background-color: lighten($orange, 35%);
  &__nav {
    list-style: none;
    padding: 0px;

    & li {
      display: inline-block;
      margin-right: $spacingLarge;
    }
  }

  &__copyright {
  }
}
