.kokebokami-login-btn {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 250px;
  padding: 0px $spacingLarge 0px 0px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: rgba($orange, 0.9);
  color: $cream;

  cursor: pointer;
  &__logo {
    width: 30px;
    height: 30px;
    margin: 7px;
    border-radius: 2px;
  }
  &__text {
    margin: 0px auto;
  }
}

.kokebokami-login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($cream, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  &-modal {
    display: block;
    position: relative;
    background-color: $blue;
    width: 100%;
    max-width: 500px;
    padding: $spacingXXLarge;
    box-sizing: border-box;
    border-radius: $spacingMedium;
    color: $white;

    &--close {
      position: absolute !important;
      top: $spacingLarge;
      right: $spacingLarge;
      font-size: $fontSizeMedium !important;
    }

    &-form {
      display: block;
      margin: 0 auto;
      text-align: center;

      & fieldset {
        max-width: 300px;
        margin: 0 auto;
      }
      & label {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: $spacingMedium;
        color: $cream;
      }

      & input {
        width: 100%;
        box-sizing: border-box;
        margin-top: $spacingSmall;
        padding: $spacingSmall;
        border: 2px solid $green;
        border-radius: $spacingSmall;
        background-color: transparent;
        font-size: $fontSizeMedium;
        caret-color: $green;
        color: $green;

        &:focus {
          outline: none;
          border: 2px solid $green;
        }
      }
    }

    &-signup {
      color: $cream;

      & a {
        color: $green;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &--open {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
}
