.loading-splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

svg g#loading-book_svg {
  &__burger,
  &__tomato,
  &__tomato_slice_1,
  &__basil_1,
  &__sushi_1,
  &__cookie_1,
  &__tomato_slice_2,
  &__basil_2,
  &__sushi_2,
  &__cookie_2 {
    animation: zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  &__burger {
    animation-delay: 0s;
  }
  &__basil_1 {
    animation-delay: 0.5s;
  }
  &__tomato {
    animation-delay: 0s;
  }
  &__tomato_slice_1 {
    animation-delay: 0.5s;
  }
  &__sushi_1 {
    animation-delay: 0s;
  }
  &__sushi_2 {
    animation-delay: 0.5s;
  }
  &__basil_2 {
    animation-delay: 0s;
  }
  &__tomato_slice_2 {
    animation-delay: 0.5s;
  }
  &__cookie_1 {
    animation-delay: 0s;
  }
  &__cookie_2 {
    animation-delay: 0.5s;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
    transform-origin: center;
  }
  50% {
    transform: scale(0.9);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    transform-origin: center;
  }
}
