.loading-splash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba($cream, 0.8);
  z-index: 99999;
}
.simple-loading-spinner {
  display: block;
  width: 30px;
  height: 30px;
  border-top: 2px dotted $blue;
  border-left: 2px dotted $blue;
  border-right: 2px dotted $blue;
  border-bottom: 2px dotted $green;
  box-sizing: border-box;
  border-radius: 50%;
  margin: $spacingLarge;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
svg g#loading-book_svg {
  &_burger,
  &_tomato,
  &_tomato_slice_1,
  &_basil_1,
  &_sushi_1,
  &_cookie_1,
  &_tomato_slice_2,
  &_basil_2,
  &_sushi_2,
  &_cookie_2 {
    animation: zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  &_burger {
    animation-delay: 0s;
  }
  &_basil_1 {
    animation-delay: 0.5s;
  }
  &_tomato {
    animation-delay: 0s;
  }
  &_tomato_slice_1 {
    animation-delay: 0.5s;
  }
  &_sushi_1 {
    animation-delay: 0s;
  }
  &_sushi_2 {
    animation-delay: 0.5s;
  }
  &_basil_2 {
    animation-delay: 0s;
  }
  &_tomato_slice_2 {
    animation-delay: 0.5s;
  }
  &_cookie_1 {
    animation-delay: 0s;
  }
  &_cookie_2 {
    animation-delay: 0.5s;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
    transform-origin: center;
  }
  50% {
    transform: scale(0.9);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    transform-origin: center;
  }
}
