@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.login-container {
  width: max-content;
  max-width: 100%;
  text-align: left;
  box-sizing: border-box;
  margin: $spacingXLarge auto;
  padding: 0px;
  list-style: none;

  li {
    width: 100%;
    box-sizing: border-box;
    margin: 0px !important;
  }

  @media screen and (min-width: $tabletWidth) {
    margin: 0px;
    padding: 0px;
  }
}
