.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;

  &__logo {
    padding: 0px 25px;

    &-link {
      color: $orange !important;
      font-size: 25px;
      cursor: pointer !important;
      text-decoration: none;
      font-family: $displayFont;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    & li {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      height: 30px;
      margin-left: 25px;
    }
  }

  &__link {
    color: $blue;
    text-decoration: none;
    margin-bottom: 2px;
    border-bottom: 2px solid $green;
    &:hover {
      margin-bottom: 0px;

      border-bottom: 4px solid $green;
    }
  }
}

.google-profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.active-link {
  text-decoration: none;
  color: $gray;
  border-bottom: none;
  cursor: default;
}
.active-link:hover {
  border-bottom: none;
  margin-bottom: 2px;
}
