
.radio-pills-wrap {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
}
.radio-pills {
  display: block;
  width: max-content;
  margin: 0px auto;

  &_pill {
    display: inline-block;
    min-width: max-content;
    padding: $spacingSmall $spacingMedium;
    border: 2px solid $blue;
    border-radius: $spacingXLarge;
    color: $blue;
    text-transform: capitalize;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: $spacingMedium;
    }

    &.selected, &:hover {
      background-color: $blue;
      color: $cream;
    }
    label {
      width: 100%;
      position: relative;
      cursor: pointer;

      input {
        position: absolute;
        opacity: 0;
      }
    }
  }
}
