.recipes-filter {
  &__form {
    display: block;
    border-radius: $spacingSmall;

    & .search-field {
      position: relative;

      & input {
        padding: $spacingMedium;
        padding-left: $spacingXXLarge;
        font-size: $fontSizeLarge;
        width: 100%;
        max-width: 350px;
        background-color: transparent;
      }
    }

    & .search-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: $spacingMedium;
    }
    & .categories {
      &-container {
        width: 100%;
        background-color: rgba($orange, 0.08);
        margin: $spacingMedium auto;
        border-radius: $spacingSmall;
        box-sizing: border-box;

        &--transparent {
          background-color: transparent;

          .categories-wrap {
            margin: 0px auto;
            .select__dropdown {
              background-color: $cream;
            }
          }
        }
      }
      &-wrap {
        display: block;
        max-width: max-content;
        width: 100%;
        padding: $spacingMedium;
      }

      display: inline-block;
      width: 100%;
      color: $blue;
      @media screen and (min-width: $tabletWidth) {
        //float: left;
        vertical-align: top;
        width: max-content;
        margin-left: $spacingXLarge;
      }

      &__title {
        margin-top: $spacingMedium;
        margin-left: 4px;
      }

      &__category {
        display: inline-flex;
        align-items: center;
        text-transform: capitalize;
        min-width: 130px;
        margin-bottom: $spacingSmall;
        @media screen and (min-width: $tabletWidth) {
          display: flex;
        }

        & input:focus {
          border: 2px solid $green;
        }
      }
    }
  }
}
