.recipe {
  text-align: left;
  &__title {
    font-family: $headingFont;
    font-size: $fontSizeXXLargeMobile;
    @media screen and (min-width: $tabletWidth) {
      font-size: $fontSizeXXLarge;
    }
  }
  &__description {
    font-size: $fontSizeLargeMobile;
    margin-bottom: $spacingXXLarge;
    @media screen and (min-width: $tabletWidth) {
      font-size: $fontSizeLarge;
    }
    color: $blue;
  }
  &__servings {
    width: 50px;
    border: 1px solid $green;
    border-radius: $spacingSmall;
    position: relative;
    &:disabled {
      border-color: lightgray;
      position: relative;
    }
    &-wrap {
      position: relative;
      h4.disabled {
        color: lightgray;
      }
    }
    &-disabled-dash {
      position: absolute;
      left: $spacingLarge;
      top: 50%;
      transform: translateY(-50%);
      color: lightgray;
    }
  }
  &__ingredients {
    padding: 0px;
    margin-bottom: $spacingXXLarge;

    &-amount {
      font-weight: bold;
      color: $blue;
      font-family: "Be Vietnam Extra Bold";
    }
    & li {
      list-style: none;
      margin-bottom: $spacingMedium;
    }
  }
  .add-to-shopping-list {
    .select {
      width: 180px;
      &__dropdown {
        width: 190px;
        background-color: $cream;
      }
    }
  }

  &__instructions {
    padding-left: $spacingSmall;
    counter-reset: b;
    &-step {
      list-style: none;
      padding-bottom: $spacingXLarge;
      padding-left: $spacingXXLarge;
      position: relative;
      cursor: default;

      &::before {
        counter-increment: b;
        content: counter(b);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 3px;
        border-radius: $spacingMedium;
        background-color: $blue;
        font-size: 12px;
        color: $cream;
        z-index: 1;
      }
      &:not(:last-child)::after {
        content: "";
        border-left: 1px dotted $blue;
        height: 100%;
        position: absolute;
        top: $spacingLarge;
        left: 10px;
        z-index: 0;
      }
      &:focus {
        font-weight: medium;
        outline: none;
        background-color: rgba($green, 0.1);
      }
    }
  }

  &__category {
    display: inline-block;
    background-color: $orange;
    color: $white;
    padding: $spacingXSmall $spacingLarge $spacingSmall $spacingLarge;
    border-radius: $spacingLarge;
    text-transform: capitalize;

    &-note {
      color: $blue;
      font-size: $fontSizeSmall;
    }
  }
}
