.recipes-filter {
  &__form {
    padding: $spacingMedium;
    border-radius: $spacingSmall;

    & .search-field {
      position: relative;

      & input {
        padding: $spacingMedium;
        padding-left: $spacingXXLarge;
        font-size: $fontSizeLarge;
        width: 100%;
        max-width: 350px;
      }
    }

    & .search-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: $spacingMedium;
    }
    & .categories {
      &-container {
        display: block;
        margin-top: $spacingMedium;
        padding: $spacingMedium;
        background-color: rgba($orange, 0.08);
        box-sizing: border-box;
        border-radius: $spacingSmall;
      }
      display: inline-flex;
      flex-direction: column;
      margin-left: $spacingLarge;
      color: $blue;

      &__title {
        margin-top: $spacingMedium;
      }

      &__select {
        background-color: transparent;
        padding: $spacingMedium $spacingMedium;
        border: 2px solid $blue;
        color: $blue;
        font-size: $fontSizeSmall;
        box-shadow: none;
      }

      &__category {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        text-transform: capitalize;
        min-width: 100px;
        @media screen and (min-width: $mobileWidth) {
          min-width: auto;
        }
      }
    }
  }
}
