.recipe-display {
  display: block;
  width: 300px;
  margin: $spacingSmall;
  border: 2px solid $green;
  border-radius: $spacingSmall;
  flex-grow: 1;
  cursor: pointer;

  &:hover {
    background-color: $green;
  }

  &__description {
    display: block;
    padding: $spacingLarge;
  }
}
