.recipe {
  text-align: left;
  &__title {
    font-family: $displayFont;
    font-size: $fontSizeXXLargeMobile;
    @media screen and (min-width: $tabletWidth) {
      font-size: $fontSizeXXLarge;
    }
  }
  &__description {
    font-size: $fontSizeLargeMobile;
    margin-bottom: $spacingXXLarge;
    @media screen and (min-width: $tabletWidth) {
      font-size: $fontSizeLarge;
    }
    color: $blue;
  }
  &__ingredients {
    padding: 0px;
    margin-bottom: $spacingXXLarge;

    & li {
      list-style: none;
      margin-bottom: $spacingSmall;

      &::before {
        content: "➔";
        margin-right: $spacingLarge;
        color: $green;
      }
    }
  }

  &__instructions {
    padding-left: $spacingLarge;

    &-step {
      margin-bottom: $spacingLarge;

      &::before {
        content: "";
        padding-right: $spacingSmall;
      }
    }
  }

  &__category {
    display: inline-block;
    background-color: $orange;
    color: $white;
    padding: $spacingXSmall $spacingLarge $spacingSmall $spacingLarge;
    border-radius: $spacingLarge;
    text-transform: capitalize;

    &-note {
      color: $blue;
      font-size: $fontSizeSmall;
    }
  }
}
