.remove-icon {
  display: inline-block;
  position: relative;
  width: $spacingLarge;
  height: $spacingLarge;
  border: none;
  border-radius: 50%;
  padding: 0px;
  margin: $spacingSmall 0px 0px $spacingSmall;
  font-size: $fontSizeSmall;
  font-weight: bold;
  color: $white;
  background-color: $pink;
  cursor: pointer;

  &:hover {
    background-color: $orange;
  }

  &:before,
  &:after {
    content: "";
    width: 1px;
    height: $spacingMedium;
    background-color: $white;
    position: absolute;
    top: $spacingSmall;
    left: 9px;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
