.search-form {
  background-color: rgba($green, 0.07);
  padding: $spacingMedium;
  border-radius: $spacingSmall;

  &__search-field {
    position: relative;

    & input {
      padding: $spacingMedium;
      padding-left: $spacingXXLarge;
      font-size: $fontSizeLarge;
      width: 100%;
      max-width: 350px;
    }
  }

  &__search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: $spacingMedium;
  }

  &__category {
    display: inline-flex;
    flex-wrap: nowrap;
    text-transform: capitalize;
    min-width: 100px;
    @media screen and (min-width: $mobileWidth) {
      min-width: auto;
    }
  }
}
