.share-form {
  padding-top: $spacingLarge;
  border-top: 1px dotted $blue;
  input[type="email"] {
    width: 200px;
    transition: width 0.2s;
    &:focus {
      width: 210px;
    }
  }
  .share-button {
    display: flex;
    align-items: center;
    padding: $spacingSmall $spacingMedium $spacingSmall $spacingSmall;
    border-radius: $spacingSmall;
    background-color: $blue;
    color: $cream;
    width: max-content;
    font-size: $fontSizeSmall;
    font-family: "Roboto";
  }

  &_followers {
    width: 265px;
  }

  &_email {
    width: 205px;
    input {
      width: 205px;
    }
  }
  &_select {
    width: 250px;
    .select_dropdown {
      width: 260px;
      background-color: $cream;
    }
  }
}
