.share-form {
  display: block;

  &__followers {
    width: 265px;
  }

  &__email {
    width: 205px;
    input {
      width: 205px;
    }
  }
  &__select {
    width: 250px;
    .select__dropdown {
      width: 260px;
      background-color: $cream;
    }
  }
}
