@use "../settings/variables.settings" as *;

.remove-icon {
  display: inline-block;
  position: relative;
  height: $spacingLarge;
  border: none;
  padding: 0px;
  margin: $spacingSmall 0px 0px $spacingMedium;
  font-size: $fontSizeSmall;
  color: $orange;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: $pink;
  }

  &:before {
    content: "✕";
    position: relative;
    top: 0px;
    padding-right: $spacingSmall;
  }
}
