.system-message {
  min-height: 1.4em;
  font-size: $fontSizeSmall;
  color: $pink;

  &--dark-bg {
    color: $orange;
  }

  &--with-bg {
    background-color: rgba($pink, 0.05);
    padding: $spacingXSmall $spacingMedium;
    border-radius: $spacingXSmall;
  }
}

.dark-bg .system-message {
  color: $orange;
}
