@use "../settings/variables.settings" as *;

.padding {
  &--none {
    padding: 0px;
  }

  &-sm {
    padding: $spacingSmallMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingSmall;
    }
  }

  &-md {
    padding: $spacingMediumMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingMedium;
    }
  }

  &-lg {
    padding: $spacingLargeMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingLarge;
    }
  }

  &-xl {
    padding: $spacingXLargeMobile;
    box-sizing: border-box;

    @media screen and (min-width: $tabletWidth) {
      padding: $spacingXLarge;
    }
  }

  &-top {
    &-sm {
      padding-top: $spacingSmallMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingSmall;
      }
    }
    &-md {
      padding-top: $spacingMediumMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingMedium;
      }
    }
    &-lg {
      padding-top: $spacingLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingLarge;
      }
    }
    &-xl {
      padding-top: $spacingXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXLarge;
      }
    }

    &-2xl {
      padding-top: $spacingXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXXLarge;
      }
    }
    &-3xl {
      padding-top: $spacingXXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXXXLarge;
      }
    }
  }
  &-right {
    &-sm {
      padding-right: $spacingSmallMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-right: $spacingSmall;
      }
    }
    &-md {
      padding-right: $spacingMediumMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-right: $spacingMedium;
      }
    }
    &-lg {
      padding-right: $spacingLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-right: $spacingLarge;
      }
    }
    &-xl {
      padding-right: $spacingXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-right: $spacingXLarge;
      }
    }

    &-2xl {
      padding-right: $spacingXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-right: $spacingXXLarge;
      }
    }
    &-3xl {
      padding-right: $spacingXXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-right: $spacingXXXLarge;
      }
    }
  }
  &-bottom {
    &-sm {
      padding-bottom: $spacingSmallMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingSmall;
      }
    }
    &-md {
      padding-bottom: $spacingMediumMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingMedium;
      }
    }
    &-lg {
      padding-bottom: $spacingLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingLarge;
      }
    }
    &-xl {
      padding-bottom: $spacingXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingXLarge;
      }
    }

    &-2xl {
      padding-bottom: $spacingXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingXXLarge;
      }
    }
    &-3xl {
      padding-bottom: $spacingXXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-bottom: $spacingXXXLarge;
      }
    }
  }

  &-h {
    &-sm {
      padding-left: $spacingSmallMobile;
      padding-right: $spacingSmallMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-left: $spacingSmall;
        padding-right: $spacingSmall;
      }
    }
    &-md {
      padding-left: $spacingMediumMobile;
      padding-right: $spacingMediumMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-left: $spacingMedium;
        padding-right: $spacingMedium;
      }
    }
    &-lg {
      padding-left: $spacingLargeMobile;
      padding-right: $spacingLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-left: $spacingLarge;
        padding-right: $spacingLarge;
      }
    }
    &-xl {
      padding-left: $spacingXLargeMobile;
      padding-right: $spacingXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-left: $spacingXLarge;
        padding-right: $spacingXLarge;
      }
    }
  }
  &-v {
    &-sm {
      padding-top: $spacingSmallMobile;
      padding-bottom: $spacingSmallMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingSmall;
        padding-bottom: $spacingSmall;
      }
    }
    &-md {
      padding-top: $spacingMediumMobile;
      padding-bottom: $spacingMediumMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingMedium;
        padding-bottom: $spacingMedium;
      }
    }
    &-lg {
      padding-top: $spacingLargeMobile;
      padding-bottom: $spacingLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingLarge;
        padding-bottom: $spacingLarge;
      }
    }
    &-xl {
      padding-top: $spacingXLargeMobile;
      padding-bottom: $spacingXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXLarge;
        padding-bottom: $spacingXLarge;
      }
    }

    &-2xl {
      padding-top: $spacingXXLargeMobile;
      padding-bottom: $spacingXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXXLarge;
        padding-bottom: $spacingXXLarge;
      }
    }

    &-3xl {
      padding-top: $spacingXXXLargeMobile;
      padding-bottom: $spacingXXXLargeMobile;
      box-sizing: border-box;
      @media screen and (min-width: $tabletWidth) {
        padding-top: $spacingXXXLarge;
        padding-bottom: $spacingXXXLarge;
      }
    }
  }
}
