@use "../settings/variables.settings" as *;

.full-width {
  width: 100%;
}
.desktop-width {
  width: 100%;
  max-width: $desktopWidth;
}
.tablet-width {
  width: 100%;
  max-width: $tabletWidth;
}

.mobile-width {
  width: 100%;
  max-width: $mobileWidth;
}
